.weather-card img {
    display: block;
    margin: 0 auto 10px;
}

.weekly-weather ul {
    list-style-type: none;
    padding: 0;
}

.weekly-weather li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
